.container_camera {
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  padding-top: 100px;
}

.border {
  height: 400px;
  width: 500px;
  background-color: rgb(137, 143, 174);
  border-radius: 2%;
}

.camera {
  height: 350px;
  width: 450px;
  margin: auto;
  background-color: rgb(137, 143, 174);
  border-radius: 2%;
}
video {
  width: 100%;
  height: 100%;
}
#camerapic {
  border-radius: 2rem;
  max-width: 150px;
  max-height: 70px;
  background-color: rgb(137, 143, 174);
  border-color: black;
  border: 3px solid rgb(99, 107, 149);
}

.camclick {
  display: flex;
  justify-content: center;
  align-items: center;
}

.camclick > button {
  border-radius: 2rem;
  max-width: 130px;
  max-height: 60px;
  background-color: rgb(137, 143, 174);
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
