.containerContact,
.group,
.textbox,
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.containerContact {
  padding: 40px;
}

h2 {
  padding: 0px;
}

.support {
  font-family: "Asap Symbol";
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

strong {
  font-size: 25px;
}

.textbox {
  width: 50%;
  text-align: center;
  padding: 40px;
}

form input,
form textarea {
  width: 350px;
}

#submitButton {
  height: 35px;
  width: 150px;
  background-color: black;
  border-color: black;
  border-radius: 2rem;
  border-style: none;
  color: white;
  font-size: 20px;
  padding-bottom: 3px;
  font-family: "Asap Symbol";
  margin-top: 20px;
  cursor: pointer;
}

@media (max-width: 725px) {
  .support {
    flex-direction: column;
  }
}
