.container3 {
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: rgb(245, 245, 244);
  padding: 20px 0 20px 0;
  gap: 20px;
}

.polaroid {
  display: grid;
  width: 290px;
  height: 740px;
}

.frame,
.sticker {
  width: 290px;
  height: 740px;
  grid-area: 1/1;
  position: absolute;
}

.picture {
  position: relative;
  width: 218px;
  height: 152px;
  margin-left: 36.5px;
  margin-bottom: 13px;
}

.pictures {
  margin-top: 20px;
}

.scrollfilter {
  max-width: 600px;
  border-color: rgb(99, 107, 149);
  border-width: 200px;
  background-color: rgb(137, 143, 174);
  border-radius: 0.5em;
  border: 2px solid;
  overflow-y: auto;
  white-space: nowrap;
  scrollbar-color: rgb(99, 107, 149);
  scrollbar-width: thin;
}

.scroll_menus {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.filter,
.colour,
.stickerButton {
  display: inline-block;
  border: 2px solid rgb(99, 107, 149);
  background-color: rgb(226, 228, 235);
  text-align: center;
  padding: 14px;
  color: black;
  font-family: sans-serif;
  border-right-style: none;
}

div.scrollfilter a:hover {
  background-color: rgb(99, 107, 149);
}

.scroll_menus > p {
  font-family: "Asap Symbol";
  color: whitesmoke;
  margin: auto 250px;
  border-radius: 2rem;
  background-color: rgb(99, 107, 149);
  text-align: center;
  padding: 5px 0 5px 0;
}

.scroll_menus > #download {
  font-family: "Asap Symbol";
  color: whitesmoke;
  height: 35px;
  width: 150px;
  background-color: rgb(99, 107, 149);
  border-radius: 2rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding-top: 5px;
  text-align: center;
}
