.container3 {
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: rgb(245, 245, 244);
  padding: 20px 0 20px 0;
  gap: 80px;
}

.polaroid {
  display: grid;
  width: 290px;
  height: 740px;
}

.frame,
.sticker {
  width: 290px;
  height: 740px;
  grid-area: 1/1;
  position: absolute;
}

.picture {
  position: relative;
  margin-left: 35.6px;
  margin-bottom: 12px;
}

.pictures {
  margin-top: 23px;
}

.scrollfilter {
  border: 2px solid rgb(99, 107, 149);
  border-color: rgb(99, 107, 149);
  border-width: 3px;
  background-color: rgb(137, 143, 174);
  border-radius: 0.5em;
  overflow-y: auto;
}

/*.scrollfilter {
  max-width: 600px;
  border-color: rgb(99, 107, 149);
  border-width: 200px;
  background-color: rgb(137, 143, 174);
  border-radius: 0.5em;
  border: 2px solid;
  overflow-y: auto;
  white-space: nowrap;
  scrollbar-color: rgb(99, 107, 149);
  scrollbar-width: thin;
}*/

.scroll_menus {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
}

.filterButton,
.frameButton,
.stickerButton {
  border-style: none;
}

.iconTitle {
  border: 3px solid rgb(226, 228, 235);
  background-color: rgb(99, 107, 149);
  color: whitesmoke;
  text-align: center;
  border-radius: 2rem;
  padding: 5px;
  font-family: "Asap Symbol";
}

/*.filterButton,
.frameButton,
.stickerButton {
  display: inline-block;
  border: 2px solid rgb(99, 107, 149);
  background-color: rgb(226, 228, 235);
  text-align: center;
  padding: 14px;
  color: black;
  font-family: sans-serif;
  border-right-style: none;
}*/

div.scrollfilter a:hover {
  background-color: rgb(99, 107, 149);
}

.scroll_menus p {
  margin: auto 150px;
}
/*.scroll_menus p {
  font-family: "Asap Symbol";
  color: whitesmoke;
  margin: auto 150px;
  border-radius: 2rem;
  background-color: rgb(99, 107, 149);
  text-align: center;
  padding: 5px 0 5px 0;
}*/

.Download {
  font-family: "Asap Symbol";
  color: whitesmoke;
  height: 35px;
  width: 150px;
  background-color: rgb(99, 107, 149);
  border: 2px solid rgb(137, 143, 174);
  border-width: 3px;
  border-radius: 2rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  text-align: center;
  font-size: 22px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.Download:hover {
  background-color: rgb(137, 143, 174);
  color: white;
}
