h2 {
  text-align: center;
  font-size: 50px;
  padding-bottom: 10px;
  padding-right: 20px;
}

.containerHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 30px;
}

.homePic {
  object-fit: contain;
  margin: 0;
  padding: 0;
  width: 800px;
}

.containerHomepic {
  width: 100%;
  display: flex;
  justify-content: center;
}

#start {
  height: 35px;
  width: 150px;
  background-color: black;
  border-radius: 2rem;
  letter-spacing: 1px;
  color: whitesmoke;
  border-style: none;
  font-family: "Antonio";
  font-size: 20px;
  text-align: center;
}
